<template name="pickGame">
  <h1 class="headerH1">What game?</h1>
</template>

<template name="pickConsole">
  <h1 class="headerH1">What console?</h1>
</template>

<template name="pickPlay">
  <h1 class="headerH1">How many other players do you want?</h1>
</template>

<template name="pickMic">
  <h1 class="headerH1">Are microphones mandatory?</h1>
</template>

<template name="shortNote">
  <h1 class="headerH1">Write a short note to players</h1>
</template>

<template name="enterGamertag">
  <h1 class="headerH1">Enter your gamertag</h1>
</template>

<template name="createLobby">
  <h1 class="headerH1">Fill in information</h1>


</template>
